**/bin
**/obj

./scripts
./*.cmd
./*.xml
./*.sql
./*.md
./*.yml
./build-dockerfile
./LICENSE

.dockerignore
.editorconfig

.git
.gitignore

batect
.batect

.dotnet
.sqlpackage
.vs

**/*.dbmdl
**/*.jfm
**/*.sqlproj.user
